<body class="login-page">
    <main>
        <div class="login-block">
            <img src="/images/efm_logo_small.png" alt="EMF-Logo" />
            <h1>Log In</h1>
            <form action="#">
                <hr class="hr-xs">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                        <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <hr class="hr-xs">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <hr class="hr-xs">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </main>
</body>